@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: #EDFEF0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* ==== clerk class override ===== */
.cl-internal-2cr4gg {
  background-color: #1d1f1f;
}

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #03DE5C;
  background-color: #fff;
}

.cl-socialButtonsIconButton:hover {
  background-color: #fff;
}

.cl-internal-vsyo1i, .cl-internal-1f20wsg {
  background-color: #fff;
}

.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: white;
}

.cl-internal-vsyo1i, .cl-internal-1f20wsg {
  color: black;
}

.cl-internal-b6u84v[data-variant="solid"][data-color="primary"] {
  box-shadow: none!important;
}

.cl-internal-b6u84v {
  background-color: #00b652;
}

.cl-internal-1nn89fl {
  color: white;
}

.cl-internal-tftniu {
  display: none;
}

.cl-userButtonPopoverActionButton:hover {
  color: rgb(11, 122, 249);;
}

.cl-internal-zpbffa {
  color: #489d62;
}

.cl-internal-180wb59, .cl-internal-lqfubk {
  visibility: hidden;
}
/* =============================== */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* animation */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}
